@{
Layout = "_Layout";
ViewBag.Titulo = "🏷️ Categorias";
ViewBag.Info = "Cadastre, visualize e gerencie categorias de tarefas.";

ViewBag.TextoBotao = "Cadastrar Categoria";
ViewBag.ControllerBotao = "Categoria";
ViewBag.ActionBotao = "Cadastrar";
}

@model List<ListarCategoriasViewModels>;

    <div class="card border-primary-subtle rounded-4 shadow-sm mx-auto p-4 bg-transparent">

        @if (TempData["MensagemErro"] is string mensagemErro)
        {
        <div class="alert alert-danger border-start border-danger border-4 rounded-3" role="alert">
            @mensagemErro
        </div>
        }

        @if (Model.Count == 0)
        {
        <div class="alert alert-primary border-start border-primary border-2 rounded-3" role="alert">
            Nenhuma categoria cadastrada.
        </div>
        }
        else
        {
        <div class="table-responsive tabela-container mt-3 mb-3">
            <table class="table table-hover table-bordered align-middle bg-white tabela-modulo">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        @* <th>Despesa</th> *@
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ListarCategoriasViewModels c in Model)
                    {
                    <tr class="bg-transparent">
                        <td>@c.Id.ToString().Substring(startIndex: 0, length: 8)</td>
                        <td>@c.Titulo</td>
                        @* <td>@c.DespesaDescricao</td>*@
                        <td>
                            <div class="d-flex flex-sm-row flex-column justify-content-center align-items-center gap-2">
                                <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="Editar"
                                    asp-route-id="@c.Id">Editar</a>
                                <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="Excluir"
                                    asp-route-id="@c.Id">Excluir</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        }
    </div>